/* PODE APAGAR ISSO */


/* 
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 350px;
  height: 50%;
  font-size: 25px;
  background-color: #ffffff;
}

.intro>p {
  margin: 50px;
  font-size: 25px;
  text-align: center;
} */
