*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html, body{
    overflow:  hidden;
    width: 100%;
}



.container_cadastro{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: blueviolet;
    padding: 150px;

}

.bloco_cadastro{
    display: flex;
     justify-content: center;
    width: 100%;
    max-width: 800px;
    border-radius: 10px;
    background-color: aqua;

}

.cadastro_image{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: yellow;
}
.cadastro_image img{
    width: 100%;
    height: auto;
    border-radius: 10px ;
    background-color: black;
}

.section_main{
        background-color: teal;
}
.section_main .campo{
    background-color: brown;
}  



