
h1 {
  text-align: center;
}

.container-caminhoes {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card-caminhao {
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 12px;
  padding: 20px;
  width: 200px;
  cursor: pointer;
  box-shadow: 2px 2px 8px #ccc;
  transition: transform 0.2s;
}

.card-caminhao:hover {
  transform: scale(1.03);
}

.card-caminhao.alerta {
  border-color: red;
  background-color: #ffe5e5;
  color: #a10000;
}

.graficos-linha {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.grafico-box {
  background-color: #fff;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.card, .chart-container {
  background: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  text-align: left;
  justify-content: space-between;
}

.chart {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.chart-container canvas {
  width: 100%;
  height: auto;
}
.kpi {
  display: flex;
  justify-content: space-between;
}
.kpi h3 {
  margin: 0;
  font-size: 18px;
}
.kpi h2 {
  margin: 5px 0 0;
  color: rgb(20, 219, 2);
}