*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body, h1, h3, textarea, button, div {
    font-family: Arial, sans-serif;
}
h2{
    color: white;
}

<<<<<<< HEAD
body {
    background-color: #fffafa; /* Quase branco com leve rosa */
    color: #c13636;
=======

.banner_bob_ia{
    background-image: url("../assets/img/logo/morangos.n3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.seta-voltar{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.seta-voltar>a >img{
    width: 50px;
    margin-top: 20px;
    margin-left: 20px;
    transition: 0.5s;
}

.container_bob{
    margin-inline: 30%;
    margin-block: 10%;
    padding: 5rem 5rem;
    background: #fff;
    border-radius: 1.5rem;
    box-shadow: 0 10px 10px #0002;
>>>>>>> 4f2c2ec152fb5f15b6055e13eec4e518424478fa
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom:50px;
    border:#b22222 solid 5px; 
}

.tituloSuporte{
    display: flex;
    justify-content: center;
    align-items: center;
<<<<<<< HEAD
    padding: 2em;
    background-image: url("../assets/img/logo/morangos.n3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
=======
>>>>>>> 4f2c2ec152fb5f15b6055e13eec4e518424478fa
}

.tituloSuporte >h1{
    font-size: 40px;
}

.containerSuporte{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.containerSuporte>h1{
    font-size: 20px;
    margin: 10px;
}   

button {
    background-color: #b22222;
    color: white;
    border: none;
    padding: 15px 25px;
    margin: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s ease;
} 

button:hover {
    transform: scale(1.1);
    background-color: #8b0000; 
}

textarea{
    border:  none;
    background-color: #e4e4e4;
    padding: 10px 30px;
}

<<<<<<< HEAD

#container img {
    width: 40px;
    height: 40px;
}

.layoutVoltar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    
}

.botaoVoltar {
    background-color: #dc143c; /* Vermelho Crimson */
    color: white;
    border: none;
    padding: 8px 27px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botaoVoltar:hover {
    background-color: #8b0000; /* Vermelho escuro */
=======
.seta-voltar>a>img:hover{
    transform: scale(1.2);
    cursor: pointer;
>>>>>>> 4f2c2ec152fb5f15b6055e13eec4e518424478fa
}