/* main.css */


main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
}


.container_setor{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 700px;
  margin: 30px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);

}

.container_sobre{
    display: flex;
    justify-content: center;
    align-items: center;
}

.setor{
font-size:20px;
text-align: center;
justify-content: center;
align-items: center;
}


.pilares {
  background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pilares .container .boxes {
display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 5%;
  margin: 0 5% ;
}
.pilares .container .boxes .paragrafos{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    padding: 30px;
    font-size: 20px;
}

.boxes{
  display: flex;
  justify-content: center;
  align-items: center;

}

.box {
  max-width: 40%;
  max-height: 90%;
  display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  
}

.box img {
  width: 110px;
}




.foguete{
    display: flex;
    justify-content: center;

}